@media (max-width: 1020px) {
  .container {
    padding-left: 15px;
    margin: 10px;
    width: 90vw;
  }
}

* {
  font-family: sans-serif;
}

div.file * {
  font-family: monospace;
}

code {
  font-family: monospace;
}

pre, pre * {
  font-family: monospace;
}
